/* Fondo del AnchorPane */
#fondo {
  -fx-background-color: #d9e4f5;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0, 0);
}

/* Estilo para el botón "Usuario" */
#usuarioButton {
  -fx-background-radius: 10;
  -fx-padding: 10;
  -fx-background-color: #a3c8f2;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 2, 2);
  -fx-transition: all 0.2s ease;
}

/* Efecto hover para el botón "Usuario" */
#usuarioButton:hover {
  -fx-background-color: #7aabdb;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 2, 2);
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

/* Estilo para el botón "Desconectarse" */
#desconectarseButton {
  -fx-background-radius: 10;
  -fx-padding: 10;
  -fx-background-color: #a3c8f2;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 2, 2);
  -fx-transition: all 0.2s ease;
}

/* Efecto hover para el botón "Desconectarse" */
#desconectarseButton:hover {
  -fx-background-color: #7aabdb;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 2, 2);
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}

/* Estilo para el botón circular "+" */
#agregarButton {
  -fx-background-radius: 50%;
  -fx-font-size: 20px;
  -fx-min-width: 50px;
  -fx-min-height: 50px;
  -fx-background-color: #a3c8f2;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 2, 2);
  -fx-transition: all 0.2s ease;
}

/* Efecto hover para el botón circular "+" */
#agregarButton:hover {
  -fx-background-color: #7aabdb;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 2, 2);
  -fx-scale-x: 1.05;
  -fx-scale-y: 1.05;
}
